SERVICE_URL=fastapi
LOGGER_FORMATTER=%(asctime)s - %(name)s - %(levelname)s - %(message)s
LOGGER_LEVEL=DEBUG
LOGGER_FILE=/tests/logs/tests.log
password=mysecretpassword
user=user
dbname=database
host=postgres
port=5432
